@charset "utf-8";
/* --- Global --- */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ededed;
}
/* Helper */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1170px;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
/* --- Layouts --- */
.hd {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* --- Modules --- */
.loadingPage{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  font-size: 15px;
  color: #f2f2f2;
  background-color: rgba(71, 71, 71, 0.8);
}
.hd__title{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #636b6a;
}
.nav {
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}
.nav__select {
  width:300px; 
  padding-left: 15px;
  margin:20px auto;
  height:37px; 
  font-size:16px;
  border: none;
  border-radius: 3px;
  background-color: #ededed; 
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-size: 6px 6px;
  background-position:right 10px center;
  outline-color:#a6c4f6;
  appearance:none;
}
.nav__select +.nav__select {
  margin-left: 40px;
}
.content {
  margin-top: 25px;
}
.res {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(transparent 70%, rgba(14, 13, 13, 0.877)); 
}
.res__img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  object-fit: cover;
  transition:transform 1s;
}
.res:hover .res__img {
  transform: scale(1.05);
}
.res__text {
  position: absolute;
  top: 150px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  transition:top 1s;
}
.res:hover .res__text {
  top: 85px;
}
.res__flag {
  position: absolute;
  top: 0px;
  padding: 3px 5px;
  font-size: 12px;
  color: #fff;
  background-color: #eea539
}
.res__desc {
  font-size: 14px;
}
.res__desc--italic {
  font-style: italic;
}
.res__title {
  padding-bottom: 20px;
}
.res__title::after {
  content: '';
  position: absolute;
  top: 52px;
  left: 15px;
  width: 48px;
  height: 3px;
  background: #fff;
}

@media screen and (max-width:414px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px 15px;
  }
  .content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav {
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
  }
  .nav__select {
    width: 100%;
    margin: 5px 30px 10px 0px;
    font-size: 15px;
    background-color: #dcdcdc;
    text-align: left;
  }
  .nav__select +.nav__select {
    margin-left: 0px;
  }
  .content {
    margin-top: 5px;
  }
}
