@charset "utf-8";
/* --- Global --- */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ededed;
}
/* Helper */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 1170px;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
/* --- Layouts --- */
.hd {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* --- Modules --- */
.hd__title{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #636b6a;
}
.nav {
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}
.nav__select {
  width:300px; 
  padding-left: 8px;
  margin:20px auto;
  height:37px; 
  font-size:17px;
  border: none;
  border-radius: 5px;
  background-color: #ededed; 
}
.nav__select +.nav__select {
  margin-left: 40px;
}
.content {
  margin-top: 25px;
}
.res {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(transparent 70%, rgba(14, 13, 13, 0.877)); 
}
.res__img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  object-fit: cover;
  transition:transform 1s;
}
.res:hover .res__img {
  transform: scale(1.05);
}
.res__text {
  position: absolute;
  top: 150px;
  padding-left: 15px;
  color: #fff;
  transition:top 1s;
}
.res:hover .res__text {
  top: 92px;
}
.res__flag {
  position: absolute;
  top: 0px;
  padding: 3px;
  font-size: 12px;
  color: #fff;
  background-color: #e2952f;
}
.res__desc {
  font-size: 14px;
}
.res__desc--italic {
  font-style: italic;
}
.res__title {
  padding-bottom: 20px;
}
hr {
  position: absolute;
  top: 42px;
  width: 48px;
  border-top: 2px solid #fff;
}